<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Театр</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon"  type="image/x-icon" href="/img/icon.ico" >
    <div th:insert="blocks/libs :: libs"></div>
</head>

<body>
    <header th:insert="blocks/header :: navigation"></header>

    <h1 class="text-center">Редактирование данных</h1>
    <div class="container mt-3">
        <form action="/add" method="post">
            <input type="text" name="genreClass" placeholder="Введите жанр спектакля" class="form-control"><br>
            <button type="submit" class="btn btn-success">Добавить жанр</button>
        </form>
    </div>
</body>
</html>